<!DOCTYPE html>
<html>
<head>
    <title>Vape Shop Locator</title>
    <link rel="icon" href="/static/images/favicon.ico.png" type="image/x-icon">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARYErVUcv2rpoAebIb9c1cNJXQqpp-vC4&libraries=places&callback=initMap"></script>
    <style>
        #map {
            height: 100vh; /* 100% of the viewport height */
            width: 100%; /* 100% of the viewport width */
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="/static/js/location.js?v=1.1"></script>
    <script src="/static/js/map.js?v=1.1"></script>
    <script>
        function initMap() {
            getLocation(); // This will call getLocation from location.js
        }
    </script>
</body>
</html>
