<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Recycle your vape!</title>
    <script src="test.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARYErVUcv2rpoAebIb9c1cNJXQqpp-vC4&callback=initMap" async defer></script>
</head>
<body>
    <header>
        <img src="re-vape.png" alt="Re-Vape Logo" id="logo">
    </header>
    <main>
        <div class="search-wrapper">
            <section class="search-box">
                <input type="text" id="search-input" placeholder="Enter address or postcode">
                <button id="search-button">Search</button>
            </section>
        </div>
        <section class="map">
            <div id="map"></div>
        </section>
        <div class="intro-section">
            <h2>Why you should recycle?</h2>
        </div>
        <div class="articles-container">
            <section class="article-box">
                <h2>Why recycle vapes?</h2>
                <div class="article-content">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02NcT8Qq9LSE1AU9o6CrxZdAX2HnyhapHyVXSaNs4XPYykdJF4fhnonWxGSzsNbgK2l%26id%3D61561182715319&show_text=true&width=500" width="300" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </section>
            <section class="article-box">
                <h2>Another Article</h2>
                <div class="article-content">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0QGZFKAa4zTnUfm9EQ3oCp14Dt7Q1GJcoMz8Yb4MoHsh8124uax2iDC38kgvk8NjJl%26id%3D61561182715319&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </section>
        </div>        
    </main>
    <footer>
        <p>Let's make a positive impact in Warsaw together!</p>
    </footer>
</body>
</html>
